<div class="modal" id="modal-fermentable">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title" id="title"></p>
      <button class="delete" aria-label="close" onclick="hideModal('fermentable');">
      </button>
    </header>
    <section class="modal-card-body">
      <form method="post" autocomplete="off">
        {{ .CSRF }}
{{ if eq pageName "recipe.html" }}
{{ if .Fermentables }}
        <div class="field is-horizontal">
          <div class="field-body">
            <div class="field">
              <input class="input" type="text" list="inventory-fermentables-list"
                id="inventory-fermentables" placeholder="{{ L "Search in inventory" }}"
                onchange="selectFermentable();">
              <datalist id="inventory-fermentables-list">
{{ range .Fermentables }}
                <option id="inventory-fermentable-{{ .Name }}" value="{{ .Name }}"
                  data-name="{{ .Name }}" data-type="{{ .Type }}"
                  data-yield="{{ .Yield }}" data-color="{{ .Color }}">
                  {{ .Name }}
                </option>
{{ end }}
              </datalist>
            </div>
          </div>
        </div>
{{ end }}
{{ end }}
        <div class="field is-horizontal">
          <div class="field-body">
            <div class="field">
              <label class="label" for="name">Name</label>
              <div class="control">
                <input class="input" type="text" id="name" name="name">
              </div>
            </div>
            <div class="field">
              <label class="label">Type</label>
              <div class="control">
                <div class="select is-fullwidth">
                  <select name="type" id="type">
                    <option value="Grain">Grain</option>
                    <option value="Sugar">Sugar</option>
                    <option value="Extract">Extract</option>
                    <option value="Dry extract">Dry extract</option>
                    <option value="Adjunct">Adjunct</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="field">
              <label class="label" for="color">SRM</label>
              <div class="control">
                <input class="input" type="number" step="0.01" id="color" name="color">
              </div>
            </div>
          </div>
        </div>
        <div class="field is-horizontal">
          <div class="field-body">
            <div class="field">
              <label class="label" for="amount">Amount (kg)</label>
              <div class="control">
                <input class="input" type="number" step="0.001" id="amount" name="amount">
              </div>
            </div>
            <div class="field">
              <label class="label" for="yield">Yield</label>
              <div class="control">
                <input class="input" type="number" step="0.01" id="yield" name="yield">
              </div>
            </div>
          </div>
        </div>
{{ if eq pageName "inventory.html" }}
        <div class="field">
          <label class="label" for="link">Link</label>
          <div class="control">
            <input class="input" type="text" id="link" name="link">
          </div>
        </div>
{{ end }}
        <div class="field">
          <div class="control">
            <button class="button is-link" id="button">Add</button>
          </div>
        </div>
      </form>
    </section>
  </div>
</div>

<div class="modal" id="modal-hop">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title" id="title"></p>
      <button class="delete" aria-label="close" onclick="hideModal('hop');">
      </button>
    </header>
    <section class="modal-card-body">
      <form method="post" autocomplete="off">
        {{ .CSRF }}
{{ if eq pageName "recipe.html" }}
{{ if .Hops }}
        <div class="field is-horizontal">
          <div class="field-body">
            <div class="field">
              <input class="input" type="text" list="inventory-hops-list"
                id="inventory-hops" placeholder="{{ L "Search in inventory" }}"
                onchange="selectHop();">
              <datalist id="inventory-hops-list">
{{ range .Hops }}
                <option id="inventory-hop-{{ .Name }}" value="{{ .Name }}"
                  data-name="{{ .Name }}" data-form="{{ .Form }}" data-time="{{ .Time }}"
                  data-alpha="{{ .Alpha }}">
                  {{ .Name }}
                </option>
{{ end }}
              </datalist>
            </div>
          </div>
        </div>
{{ end }}
{{ end }}
        <div class="field is-horizontal">
          <div class="field-body">
            <div class="field">
              <label class="label" for="name">Name</label>
              <div class="control">
                <input class="input" type="text" id="name" name="name">
              </div>
            </div>
            <div class="field">
              <label class="label">Form</label>
              <div class="control">
                <div class="select is-fullwidth">
                  <select name="form" id="form">
                    <option value="Pellet">Pellet</option>
                    <option value="Leaf">Leaf</option>
                    <option value="Plug">Plug</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="field">
              <label class="label" for="alpha">Alpha (%)</label>
              <div class="control">
                <input class="input" type="number" step="0.1" id="alpha" name="alpha">
              </div>
            </div>
          </div>
        </div>
        <div class="field is-horizontal">
          <div class="field-body">
{{ if eq pageName "recipe.html" }}
            <div class="field">
              <label class="label">Use</label>
              <div class="control">
                <div class="select is-fullwidth">
                  <select name="use" id="use">
                    <option value="Boil">Boil</option>
                    <option value="Dry hop">Dry hop</option>
                    <option value="Mash">Mash</option>
                    <option value="First wort">First wort</option>
                    <option value="Aroma">Aroma</option>
                  </select>
                </div>
              </div>
            </div>
{{ end }}
            <div class="field">
              <label class="label" for="amount">Amount (kg)</label>
              <div class="control">
                <input class="input" type="number" step="0.001" id="amount" name="amount">
              </div>
            </div>
{{ if eq pageName "recipe.html" }}
            <div class="field">
              <label class="label" for="time">Time (m)</label>
              <div class="control">
                <input class="input" type="number" id="time" name="time">
              </div>
            </div>
{{ end }}
          </div>
        </div>
{{ if eq pageName "inventory.html" }}
        <div class="field">
          <label class="label" for="link">Link</label>
          <div class="control">
            <input class="input" type="text" id="link" name="link">
          </div>
        </div>
{{ end }}
        <div class="field">
          <div class="control">
            <button class="button is-link" id="button"></button>
          </div>
        </div>
      </form>
    </section>
  </div>
</div>

<div class="modal" id="modal-yeast">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title" id="title"></p>
      <button class="delete" aria-label="close" onclick="hideModal('yeast');">
      </button>
    </header>
    <section class="modal-card-body">
      <form method="post" autocomplete="off">
        {{ .CSRF }}
{{ if eq pageName "recipe.html" }}
{{ if .Yeasts }}
        <div class="field is-horizontal">
          <div class="field-body">
            <div class="field">
              <input class="input" type="text" list="inventory-yeasts-list"
                id="inventory-yeasts" placeholder="{{ L "Search in inventory" }}"
                onchange="selectYeast();">
              <datalist id="inventory-yeasts-list">
{{ range .Yeasts }}
                <option id="inventory-yeast-{{ .Name }}" value="{{ .Name }}"
                  data-name="{{ .Name }}" data-form="{{ .Form }}"
                  data-attenuation="{{ .Attenuation }}">
                  {{ .Name }}
                </option>
{{ end }}
              </datalist>
            </div>
          </div>
        </div>
{{ end }}
{{ end }}
        <div class="field is-horizontal">
          <div class="field-body">
            <div class="field">
              <label class="label" for="name">Name</label>
              <div class="control">
                <input class="input" type="text" id="name" name="name">
              </div>
            </div>
            <div class="field">
              <label class="label">Form</label>
              <div class="control">
                <div class="select is-fullwidth">
                  <select name="form" id="form">
                    <option value="Liquid">Liquid</option>
                    <option value="Dry">Dry</option>
                    <option value="Slant">Slant</option>
                    <option value="Culture">Culture</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="field">
              <label class="label" for="attenuation">Attenuation</label>
              <div class="control">
                <input class="input" type="number" step="0.1" id="attenuation" name="attenuation">
              </div>
            </div>
          </div>
        </div>
        <div class="field is-horizontal">
          <div class="field-body">
            <div class="field">
              <label class="label" for="amount">Amount</label>
              <div class="control">
                <input class="input" type="number" step="0.001" id="amount" name="amount">
              </div>
            </div>
            <div class="field">
              <label class="label">Amount unit</label>
              <div class="control">
                <div class="select is-fullwidth">
                  <select name="unit" id="unit">
                    <option value="kilogram">Kilogram</option>
                    <option value="litre">Litre</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>
{{ if eq pageName "inventory.html" }}
        <div class="field">
          <label class="label" for="link">Link</label>
          <div class="control">
            <input class="input" type="text" id="link" name="link">
          </div>
        </div>
{{ end }}
        <div class="field">
          <div class="control">
            <button class="button is-link" id="button"></button>
          </div>
        </div>
      </form>
    </section>
  </div>
</div>

<div class="modal" id="modal-misc">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title" id="title"></p>
      <button class="delete" aria-label="close" onclick="hideModal('misc');">
      </button>
    </header>
    <section class="modal-card-body">
      <form method="post" autocomplete="off">
        {{ .CSRF }}
{{ if eq pageName "recipe.html" }}
{{ if .Miscs }}
        <div class="field is-horizontal">
          <div class="field-body">
            <div class="field">
              <input class="input" type="text" list="inventory-miscs-list"
                id="inventory-miscs" placeholder="{{ L "Search in inventory" }}"
                onchange="selectMisc();">
              <datalist id="inventory-miscs-list">
{{ range .Miscs }}
                <option id="inventory-misc-{{ .Name }}" value="{{ .Name }}"
                  data-name="{{ .Name }}" data-type="{{ .Type }}">
                  {{ .Name }}
                </option>
{{ end }}
              </datalist>
            </div>
          </div>
        </div>
{{ end }}
{{ end }}
        <div class="field is-horizontal">
          <div class="field-body">
            <div class="field">
              <label class="label" for="name">Name</label>
              <div class="control">
                <input class="input" type="text" id="name" name="name">
              </div>
            </div>
            <div class="field">
              <label class="label">Type</label>
              <div class="control">
                <div class="select is-fullwidth">
                  <select name="type" id="type">
                    <option value="Spice">Spice</option>
                    <option value="Fining">Fining</option>
                    <option value="Water Agent">Water Agent</option>
                    <option value="Herb">Herb</option>
                    <option value="Flavor">Flavor</option>
                    <option value="Other">Other</option>
                  </select>
                </div>
              </div>
            </div>
{{ if eq pageName "recipe.html" }}
            <div class="field">
              <label class="label">Use</label>
              <div class="control">
                <div class="select is-fullwidth">
                  <select name="use" id="use">
                    <option value="Mash">Mash</option>
                    <option value="Boil">Boil</option>
                    <option value="Primary">Primary</option>
                    <option value="Secondary">Secondary</option>
                    <option value="Bottling">Bottling</option>
                  </select>
                </div>
              </div>
            </div>
{{ end }}
          </div>
        </div>
        <div class="field is-horizontal">
          <div class="field-body">
{{ if eq pageName "recipe.html" }}
            <div class="field">
              <label class="label" for="time">Time (m)</label>
              <div class="control">
                <input class="input" type="number" id="time" name="time">
              </div>
            </div>
{{ end }}
            <div class="field">
              <label class="label" for="amount">Amount</label>
              <div class="control">
                <input class="input" type="number" step="0.001" id="amount" name="amount">
              </div>
            </div>
            <div class="field">
              <label class="label">Amount unit</label>
              <div class="control">
                <div class="select is-fullwidth">
                  <select name="unit" id="unit">
                    <option value="kilogram">Kilogram</option>
                    <option value="litre">Litre</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>
{{ if eq pageName "inventory.html" }}
        <div class="field">
          <label class="label" for="link">Link</label>
          <div class="control">
            <input class="input" type="text" id="link" name="link">
          </div>
        </div>
{{ end }}
        <div class="field">
          <div class="control">
            <button class="button is-link" id="button"></button>
          </div>
        </div>
      </form>
    </section>
  </div>
</div>

<script>
  function configureModal(id, title, button, action) {
    $(`#modal-${id} #title`).text(title);
    $(`#modal-${id} #button`).text(button);
    $(`#modal-${id} form`).attr("action", action);
  }

  function showFermentable(prefix) {
    configureModal("fermentable", "{{ L "Add fermentable" }}", "{{ L "Add" }}",
                   prefix + "/add-fermentable");
    showModal("fermentable");
  }

  function showHop(prefix) {
    configureModal("hop", "{{ L "Add hop" }}", "{{ L "Add" }}",
                   prefix + "/add-hop");
    showModal("hop");
  }

  function showYeast(prefix) {
    configureModal("yeast", "{{ L "Add yeast" }}", "{{ L "Add" }}",
                   prefix + "/add-yeast");
    showModal("yeast");
  }

  function showMisc(prefix) {
    configureModal("misc", "{{ L "Add misc" }}", "{{ L "Add" }}",
                   prefix + "/add-misc");
    showModal("misc");
  }

  function fillFermentable(id) {
    $("#modal-fermentable #name").val($(id).data("name"));
    $("#modal-fermentable #type").val($(id).data("type"));
    $("#modal-fermentable #amount").val($(id).data("amount"));
    $("#modal-fermentable #yield").val($(id).data("yield"));
    $("#modal-fermentable #color").val($(id).data("color"));
    $("#modal-fermentable #link").val($(id).data("link"));
  }

  function fillHop(id) {
    $("#modal-hop #name").val($(id).data("name"));
    $("#modal-hop #form").val($(id).data("form"));
    $("#modal-hop #amount").val($(id).data("amount"));
    $("#modal-hop #use").val($(id).data("use"));
    $("#modal-hop #time").val($(id).data("time"));
    $("#modal-hop #alpha").val($(id).data("alpha"));
    $("#modal-hopyy #link").val($(id).data("link"));
  }

  function fillYeast(id) {
    $("#modal-yeast #name").val($(id).data("name"));
    $("#modal-yeast #form").val($(id).data("form"));
    $("#modal-yeast #amount").val($(id).data("amount"));
    $("#modal-yeast #attenuation").val($(id).data("attenuation"));
    $("#modal-link #link").val($(id).data("link"));

    if (!$(id).data("amount-is-weight")) {
      $("#modal-yeast #unit").val("litre");
    } else {
      $("#modal-yeast #unit").val("kilogram");
    }
  }

  function fillMisc(id) {
    $("#modal-misc #name").val($(id).data("name"));
    $("#modal-misc #type").val($(id).data("type"));
    $("#modal-misc #use").val($(id).data("use"));
    $("#modal-misc #time").val($(id).data("time"));
    $("#modal-misc #amount").val($(id).data("amount"));
    $("#modal-misc #link").val($(id).data("link"));

    if (!$(id).data("amount-is-weight")) {
      $("#modal-misc #unit").val("litre");
    } else {
      $("#modal-misc #unit").val("kilogram");
    }
  }

  function editFermentable(prefix, id) {
    configureModal("fermentable", "{{ L "Edit fermentable" }}", "{{ L "Save" }}",
                   prefix + "/edit-fermentable/" + $(id).data("id"));
    showModal('fermentable');
    fillFermentable(id);
  }

  function editHop(prefix, id) {
    configureModal("hop", "{{ L "Edit hop" }}", "{{ L "Save" }}",
                   prefix + "/edit-hop/" + $(id).data("id"));
    showModal('hop');
    fillHop(id);
  }

  function editYeast(prefix, id) {
    configureModal("yeast", "{{ L "Edit yeast" }}", "{{ L "Save" }}",
                   prefix + "/edit-yeast/" + $(id).data("id"));
    showModal('yeast');
    fillYeast(id);
  }

  function editMisc(prefix, id) {
    configureModal("misc", "{{ L "Edit misc" }}", "{{ L "Save" }}",
                   prefix + "/edit-misc/" + $(id).data("id"));
    showModal('misc');
    fillMisc(id);
  }

  function selectFermentable() {
    var id = "#inventory-fermentable-" + $("#inventory-fermentables").val();

    // Check the element exists.
    if ($(id).length == 0)
      return;

    fillFermentable(id);
  }

  function selectHop() {
    var id = "#inventory-hop-" + $("#inventory-hops").val();

    // Check the element exists.
    if ($(id).length == 0)
      return;

    fillHop(id);
  }

  function selectYeast() {
    var id = "#inventory-yeast-" + $("#inventory-yeasts").val();

    // Check the element exists.
    if ($(id).length == 0)
      return;

    fillYeast(id);
  }

  function selectMisc() {
    var id = "#inventory-misc-" + $("#inventory-miscs").val();

    // Check the element exists.
    if ($(id).length == 0)
      return;

    fillMisc(id);
  }
</script>
