<div class="modal" id="modal-fermentable">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title" id="title"></p>
      <button class="delete" aria-label="close" onclick="hideModal('fermentable');">
      </button>
    </header>
    <section class="modal-card-body">
      <form method="post">
        <div class="field is-horizontal">
          <div class="field-body">
            <div class="field">
              <label class="label" for="name">Name</label>
              <div class="control">
                <input class="input" type="text" id="name" name="name">
              </div>
            </div>
            <div class="field">
              <label class="label">Type</label>
              <div class="control">
                <div class="select is-fullwidth">
                  <select name="type" id="type">
                    <option value="Grain">Grain</option>
                    <option value="Sugar">Sugar</option>
                    <option value="Extract">Extract</option>
                    <option value="Dry extract">Dry extract</option>
                    <option value="Adjunct">Adjunct</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="field">
              <label class="label" for="color">SRM</label>
              <div class="control">
                <input class="input" type="number" step="0.01" id="color" name="color">
              </div>
            </div>
          </div>
        </div>
        <div class="field is-horizontal">
          <div class="field-body">
            <div class="field">
              <label class="label" for="amount">Amount (kg)</label>
              <div class="control">
                <input class="input" type="number" step="0.001" id="amount" name="amount">
              </div>
            </div>
            <div class="field">
              <label class="label" for="yield">Yield</label>
              <div class="control">
                <input class="input" type="number" step="0.01" id="yield" name="yield">
              </div>
            </div>
          </div>
        </div>
        <div class="field">
          <div class="control">
            <button class="button is-link" id="button">Add</button>
          </div>
        </div>
      </form>
    </section>
  </div>
</div>

<div class="modal" id="modal-hop">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title" id="title"></p>
      <button class="delete" aria-label="close" onclick="hideModal('hop');">
      </button>
    </header>
    <section class="modal-card-body">
      <form method="post">
        <div class="field is-horizontal">
          <div class="field-body">
            <div class="field">
              <label class="label" for="name">Name</label>
              <div class="control">
                <input class="input" type="text" id="name" name="name">
              </div>
            </div>
            <div class="field">
              <label class="label">Form</label>
              <div class="control">
                <div class="select is-fullwidth">
                  <select name="form" id="form">
                    <option value="Pellet">Pellet</option>
                    <option value="Leaf">Leaf</option>
                    <option value="Plug">Plug</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="field">
              <label class="label" for="alpha">Alpha (%)</label>
              <div class="control">
                <input class="input" type="number" step="0.1" id="alpha" name="alpha">
              </div>
            </div>
          </div>
        </div>
        <div class="field is-horizontal">
          <div class="field-body">
{{ if eq pageName "recipe.html" }}
            <div class="field">
              <label class="label">Use</label>
              <div class="control">
                <div class="select is-fullwidth">
                  <select name="use" id="use">
                    <option value="Boil">Boil</option>
                    <option value="Dry hop">Dry hop</option>
                    <option value="Mash">Mash</option>
                    <option value="First wort">First wort</option>
                    <option value="Aroma">Aroma</option>
                  </select>
                </div>
              </div>
            </div>
{{ end }}
            <div class="field">
              <label class="label" for="amount">Amount (kg)</label>
              <div class="control">
                <input class="input" type="number" step="0.001" id="amount" name="amount">
              </div>
            </div>
{{ if eq pageName "recipe.html" }}
            <div class="field">
              <label class="label" for="time">Time (m)</label>
              <div class="control">
                <input class="input" type="number" id="time" name="time">
              </div>
            </div>
{{ end }}
          </div>
        </div>
        <div class="field">
          <div class="control">
            <button class="button is-link" id="button"></button>
          </div>
        </div>
      </form>
    </section>
  </div>
</div>

<div class="modal" id="modal-yeast">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title" id="title"></p>
      <button class="delete" aria-label="close" onclick="hideModal('yeast');">
      </button>
    </header>
    <section class="modal-card-body">
      <form method="post">
        <div class="field is-horizontal">
          <div class="field-body">
            <div class="field">
              <label class="label" for="name">Name</label>
              <div class="control">
                <input class="input" type="text" id="name" name="name">
              </div>
            </div>
            <div class="field">
              <label class="label">Form</label>
              <div class="control">
                <div class="select is-fullwidth">
                  <select name="form" id="form">
                    <option value="Liquid">Liquid</option>
                    <option value="Dry">Dry</option>
                    <option value="Slant">Slant</option>
                    <option value="Culture">Culture</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="field">
              <label class="label" for="attenuation">Attenuation</label>
              <div class="control">
                <input class="input" type="number" step="0.1" id="attenuation" name="attenuation">
              </div>
            </div>
          </div>
        </div>
        <div class="field is-horizontal">
          <div class="field-body">
            <div class="field">
              <label class="label" for="amount">Amount</label>
              <div class="control">
                <input class="input" type="number" step="0.001" id="amount" name="amount">
              </div>
            </div>
            <div class="field">
              <label class="label">Amount unit</label>
              <div class="control">
                <div class="select is-fullwidth">
                  <select name="unit" id="unit">
                    <option value="kilogram">Kilogram</option>
                    <option value="litre">Litre</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="field">
          <div class="control">
            <button class="button is-link" id="button"></button>
          </div>
        </div>
      </form>
    </section>
  </div>
</div>

<div class="modal" id="modal-mash-step">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title" id="title"></p>
      <button class="delete" aria-label="close" onclick="hideModal('mash-step');">
      </button>
    </header>
    <section class="modal-card-body">
      <form method="post">
        <div class="field is-horizontal">
          <div class="field-body">
            <div class="field">
              <label class="label" for="name">Name</label>
              <div class="control">
                <input class="input" type="text" id="name" name="name">
              </div>
            </div>
            <div class="field">
              <label class="label">Type</label>
              <div class="control">
                <div class="select is-fullwidth">
                  <select name="type" id="type">
                    <option value="Temperature">Temperature</option>
                    <!--<option value="Infusion">Infusion</option>-->
                    <option value="Decoction">Decoction</option>
                  </select>
                </div>
              </div>
            </div>
            <!--
            <div class="field">
              <label class="label" for="infusion_amount">Infuse amount</label>
              <div class="control">
                <input class="input" type="number" id="infuse_amount" name="infuse_amount">
              </div>
            </div>
            -->
          </div>
        </div>
        <div class="field is-horizontal">
          <div class="field-body">
            <div class="field">
              <label class="label" for="temperature">Temperature (°C)</label>
              <div class="control">
                <input class="input" type="number" id="temperature" name="temperature">
              </div>
            </div>
            <div class="field">
              <label class="label" for="time">Time (m)</label>
              <div class="control">
                <input class="input" type="number" id="time" name="time">
              </div>
            </div>
          </div>
        </div>
        <div class="field">
          <div class="control">
            <button class="button is-link" id="button"></button>
          </div>
        </div>
      </form>
    </section>
  </div>
</div>

<script>
  function configureModal(id, title, button, action) {
    $(`#modal-${id} #title`).text(title);
    $(`#modal-${id} #button`).text(button);
    $(`#modal-${id} form`).attr("action", action);
  }

  function showFermentable(prefix) {
    configureModal("fermentable", "{{ L "Add fermentable" }}", "{{ L "Add" }}",
                   prefix + "/add-fermentable");
    showModal("fermentable");
  }

  function showHop(prefix) {
    configureModal("hop", "{{ L "Add hop" }}", "{{ L "Add" }}",
                   prefix + "/add-hop");
    showModal("hop");
  }

  function showYeast(prefix) {
    configureModal("yeast", "{{ L "Add yeast" }}", "{{ L "Add" }}",
                   prefix + "/add-yeast");
    showModal("yeast");
  }

  function editFermentable(prefix, id) {
    configureModal("fermentable", "{{ L "Edit fermentable" }}", "{{ L "Save" }}",
                   prefix + "/edit-fermentable/" + $(id).data("id"));
    showModal('fermentable');

    $("#modal-fermentable #name").val($(id).data("name"));
    $("#modal-fermentable #type").val($(id).data("type"));
    $("#modal-fermentable #amount").val($(id).data("amount"));
    $("#modal-fermentable #yield").val($(id).data("yield"));
    $("#modal-fermentable #color").val($(id).data("color"));
  }

  function editHop(prefix, id) {
    configureModal("hop", "{{ L "Edit hop" }}", "{{ L "Save" }}",
                   prefix + "/edit-hop/" + $(id).data("id"));
    showModal('hop');

    $("#modal-hop #name").val($(id).data("name"));
    $("#modal-hop #form").val($(id).data("form"));
    $("#modal-hop #amount").val($(id).data("amount"));
    $("#modal-hop #use").val($(id).data("use"));
    $("#modal-hop #time").val($(id).data("time"));
    $("#modal-hop #alpha").val($(id).data("alpha"));
  }

  function editYeast(prefix, id) {
    configureModal("yeast", "{{ L "Edit yeast" }}", "{{ L "Save" }}",
                   prefix + "/edit-yeast/" + $(id).data("id"));
    showModal('yeast');

    $("#modal-yeast #name").val($(id).data("name"));
    $("#modal-yeast #form").val($(id).data("form"));
    $("#modal-yeast #amount").val($(id).data("amount"));
    $("#modal-yeast #attenuation").val($(id).data("attenuation"));

    if ($(id).data("amount-is-weight")) {
      $("#modal-yeast #unit").val("kilogram");
    } else {
      $("#modal-yeast #unit").val("litre");
    }
  }
</script>
