{{ template "head.html" . }}

{{ template "navigation.html" }}

<section class="section">
  <div class="container">
    <h1 class="title is-4">{{ L "Modify account" }}</h1>
    <form action="/account/save" method="post">

      <div class="field is-horizontal">
        <div class="field-body">
          <div class="field">
            <label class="label"i for="email">{{ L "E-mail" }}</label>
            <div class="control">
              <input class="input" type="text" id="email" value="{{ .User.Email }}" disabled>
            </div>
          </div>
          <div class="field">
            <label class="label" for="lang">{{ L "Lang." }}</label>
            <div class="control">
              <div class="select is-fullwidth">
                <select name="lang" id="lang">
{{ range .Tags }}
                  <option value="{{ . }}" {{ if eq . $.User.Lang }}selected{{ end }}>{{ . }}</option>
{{ end }}
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="field is-horizontal">
        <div class="field-body">
          <div class="field">
            <label class="label"i for="current-password">{{ L "Current password" }}</label>
            <div class="control">
              <input class="input" type="password" id="current-password" name="current-password">
            </div>
          </div>
          <div class="field">
            <label class="label"i for="new-password">{{ L "New password" }}</label>
            <div class="control">
              <input class="input" type="password" id="new-password" name="new-password">
            </div>
          </div>
          <div class="field">
            <label class="label"i for="confirm-password">{{ L "Confirm new password" }}</label>
            <div class="control">
              <input class="input" type="password" id="confirm-password" name="confirm-password">
            </div>
          </div>
        </div>
      </div>

      <div class="field is-horizontal">
        <div class="field-body">
          <div class="field">
            <div class="control">
              <button class="button is-primary">
                {{ L "Save changes" }}
              </button>
              <a class="button is-danger" onclick="showModal('delete');">
                {{ L "Delete account" }}
              </a>
            </div>
          </div>
        </div>
      </div>

    </form>
  </div>
</section>

<div class="modal" id="modal-delete">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Delete account?</p>
      <button class="delete" aria-label="close" onclick="hideModal('delete');">
      </button>
    </header>
    <section class="modal-card-body">
      <p>
        All the data associated to the account "<strong>{{ .User.Email }}</strong>"
        will be permanently deleted. This includes all your recipes.
      </p><br />
      <form action="/account/delete" method="post">
        <button class="button is-danger">Yes, delete</button>
        <a class="button is-light" onclick="hideModal('delete');">
          Cancel
        </a>
      </form>
    </section>
  </div>
</div>

<section class="section">
  <div class="container">
    <h1 class="title is-4">{{ L "Data usage and privacy" }}</h1>
    <p>
      We do not track you, there are no external resource loaded from our pages
      (i.e. no tracking from Google, Facebook or anyone) and we do not sell or
      share anything to anyone. We do not display statistics. For the purpose of
      running this service, we do host your account information (e-mail,
      password, registration date) and data (recipes). You can remove them at
      any time individually or by removing your entire account.
      <br /><br />
      <strong>Bubbles</strong> is a
      <a href="https://en.wikipedia.org/wiki/Free_software">free software</a>:
      you can run it on your own instance, study it by reading its source code,
      redistribute it and improve it.
    </p>
  </div>
</section>

<section class="section">
  <div class="container">
    <h1 class="title is-4">{{ L "Export / Import data" }}</h1>
    <p>
      You can export/import all your recipes and inventory to/from a single
      <a href="http://www.beerxml.com">BeerXML</a> file. You can use this for
      making backups, keeping your data while you remove your account and
      possibily export/import your data while switching software.
    </p>
    <br />
    <a class="button is-light" href="/account/export">Export</a>
    <button class="button is-light" onclick="showModal('import-data');">Import</button>
  </div>
</section>

<div class="modal" id="modal-import-data">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title" id="title">Import data</p>
      <button class="delete" aria-label="close" onclick="hideModal('import-data');">
      </button>
    </header>
    <section class="modal-card-body">
      <form action="/account/import" method="post" enctype="multipart/form-data">
        <div class="field is-horizontal">
          <div class="field-body">
            <div class="field">
              <div class="file has-name is-fullwidth">
                <label class="file-label">
                  <input class="file-input" type="file" name="file" id="file"
                    onchange="filename();">
                  <span class="file-cta">
                    <span class="file-icon"><i class="fas fa-upload"></i></span>
                    <span class="file-label">Choose a file…</span>
                  </span>
                  <span class="file-name" id="file-name"></span>
                </label>
              </div>
            </div>
          </div>
        </div>
        <div class="field">
          <div class="control">
            <button class="button is-link" id="button">Import</button>
          </div>
        </div>
      </form>
    </section>
  </div>
</div>

<script>
  function filename() {
    var file = $("#file").val().split('\\').pop();;
    $("#file-name").text(file);
  }
</script>

{{ template "foot.html" }}
