{{ template "head.html" . }}

{{ template "navigation.html" }}

<section class="section">
  <div class="container">
{{ if .Brews }}
    <h1 class="title is-4">{{ L "Brews" }}</h1>
    <table class="table is-hoverable is-fullwidth">
      <thead>
        <tr>
          <th>{{ L "Recipe" }}</th>
          <th>{{ L "Start Date" }}</th>
          <th>{{ L "Current step" }}</th>
          <th class="has-text-right-desktop">Actions</th>
        </tr>
      </thead>
      <tbody>
{{ range $k, $v := .Brews }}
        <tr>
          <td><a href="/brew/{{ $v.Id }}">{{ $v.XML.Name }}</a></td>
          <td>{{ $v.XML.Date }}</td>
          <td>{{ index $.StepNames $k }}</td>
          <td class="has-text-right-desktop">
            <a class="button is-small" title="Delete" onclick="showDelete('{{ $v.Id }}');">
              <span class="icon is-small"><i class="fas fa-trash"></i></span>
            </a>
          </td>
        </tr>
{{ end }}
      </tbody>
    </table>
{{ else }}
    <h1 class="title is-4">{{ L "No brew yet" }} :(</h1>
    <p>
      You can start a brew from a recipe page.
    </p>
{{ end }}
  </div>
</section>

<div class="modal" id="modal-delete">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Delete brew?</p>
      <button class="delete" aria-label="close" onclick="hideModal('delete');">
      </button>
    </header>
    <section class="modal-card-body">
      <p>
        All the data associated to the brew will be deleted.
      </p><br />
      <form action="" method="post">
        {{ .CSRF }}
        <button class="button is-danger">Yes, delete</button>
        <a class="button is-light" onclick="hideModal('delete');">
          No, keep
        </a>
      </form>
    </section>
  </div>
</div>

<script>
  function showDelete(id) {
    $(`#modal-delete form`).attr("action", `/brew/${id}/delete`);
    showModal("delete");
  }
</script>

{{ template "foot.html" }}
