{{ template "head.html" . }}

{{ template "navigation.html" }}

<form method="post" id="form-steps">{{ .CSRF }}</form>

<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column">
        <h1 class="title is-4">{{ .StepName }}</h1>
        <h2 class="subtitle is-6">{{ .StepDesc }}</h2>
      </div>
      <div class="column has-text-right">
        <h1 class="title is-4">
          <a class="title is-4" href="/recipe/{{ .Brew.RecipeId }}">{{ .Brew.XML.Name }}</a>
        </h1>
{{ if .Brew.XML.Date }}
        <h2 class="subtitle is-6">{{ .Brew.XML.Date }}</h2>
{{ end }}
      </div>
    </div>
    <progress class="progress is-primary" value="{{ .Brew.Step }}" max="{{ .MaxStep }}"></progress>
    <br />
  </div>

{{ if eq .Brew.Step 0 }}
{{/* Preparation */}}

  <div class="container">
    <table class="table is-hoverable is-fullwidth">
      <thead>
        <tr>
          <th></th>
          <th>Name</th>
          <th>Amount</th>
        </tr>
      </thead>
      <tbody>
{{ range .Ingredients.Fermentables }}
        <tr>
          <td><abbr title="Fermentable">F</abbr></td>
          <td>{{ .Name }}</td>
          <td>{{ .Amount }}kg</td>
        </tr>
{{ end }}
{{ range .Ingredients.Hops }}
        <tr>
          <td><abbr title="Hop">H</abbr></td>
          <td>{{ .Name }}</td>
          <td>{{ .Amount }}kg</td>
        </tr>
{{ end }}
{{ range .Ingredients.Yeasts }}
        <tr>
          <td><abbr title="Yeast">Y</abbr></td>
          <td>{{ .Name }}</td>
          <td>{{ .Amount }}{{ if .AmountIsWeight }}kg{{ else }}l{{ end }}</td>
        </tr>
{{ end }}
{{ range .Ingredients.Miscs }}
        <tr>
          <td><abbr title="Misc">M</abbr></td>
          <td>{{ .Name }}</td>
          <td>{{ .Amount }}{{ if .AmountIsWeight }}kg{{ else }}l{{ end }}</td>
        </tr>
{{ end }}
      </tbody>
    </table>
  </div>

{{ else if eq .Brew.Step 1 }}
{{/* Mash */}}

  <div class="container">
    <div class="columns">
      <div class="column">
        <h2 class="subtitle">Fermentables</h2>
        <table class="table is-hoverable is-fullwidth">
          <thead>
            <tr>
              <th>Name</th>
              <th>Amount</th>
            </tr>
          </thead>
          <tbody>
{{ range .Brew.XML.Fermentables }}
            <tr>
              <td>{{ .Name }}</td>
              <td>{{ .Amount }}kg</td>
            </tr>
{{ end }}

{{ range .Brew.XML.Miscs }}
{{ if eq .Use "Mash" }}
            <tr>
              <td>{{ .Name }}</td>
              <td>{{ .Amount }}{{ if .AmountIsWeight }}kg{{ else }}l{{ end }}</td>
            </tr>
{{ end }}
{{ end }}
          </tbody>
        </table>
      </div>
      <div class="column">
        <h2 class="subtitle">Mash steps</h2>
        <table class="table is-hoverable is-fullwidth">
          <thead>
            <tr>
              <th>Name</th>
              <th>Temperature</th>
              <th>Time</th>
            </tr>
          </thead>
          <tbody>
{{ range .Brew.XML.Mash.MashSteps }}
            <tr>
              <td>{{ .Name }}</td>
              <td>{{ .StepTemp }}°C</td>
              <td>{{ .StepTime }}m</td>
            </tr>
{{ end }}
          </tbody>
        </table>

        <h2 class="subtitle">Calculations</h2>
        <ul>
          <li>Est. volume total: {{ .Calc.VolumeTot }}l</li>
          <li>Est. boil size: {{ .Calc.BoilSize }}l</li>
        </ul>
      </div>
    </div>
  </div>

{{ else if eq .Brew.Step 2 }}
{{/* Boil */}}

  <div class="container">
    Est. boil size: {{ .Calc.BoilSize }}l
    <table class="table is-hoverable is-fullwidth">
      <thead>
        <tr>
          <th>Name</th>
          <th>Amount</th>
          <th>Time</th>
        </tr>
      </thead>
      <tbody>
{{ range .Brew.XML.Hops }}
{{ if or (eq .Use "Aroma") (eq .Use "Boil") }}
        <tr>
          <td>{{ .Name }}</td>
          <td>{{ .Amount }}kg</td>
          <td>{{ .Time }}m</td>
        </tr>
{{ end }}
{{ end }}

{{ range .Brew.XML.Miscs }}
{{ if eq .Use "Boil" }}
            <tr>
              <td>{{ .Name }}</td>
              <td>{{ .Amount }}{{ if .AmountIsWeight }}kg{{ else }}l{{ end }}</td>
              <td>{{ .Time }}m</td>
            </tr>
{{ end }}
{{ end }}
      </tbody>
    </table>
  </div>

{{ else if eq .Brew.Step 3 }}
{{/* Fermentation */}}

  <div class="container">
    <div class="columns">
      <div class="column">
        <h2 class="subtitle">Fermentation steps</h2>
        <table class="table is-hoverable is-fullwidth">
          <thead>
            <tr>
              <th></th>
              <th>Age</th>
              <th>Temp.</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th>Primary</th>
              <td>{{ .Brew.XML.PrimaryAge }}d</td>
              <td>{{ .Brew.XML.PrimaryTemp }}°C</td>
            </tr>
            <tr>
              <th>Secondary</th>
              <td>{{ .Brew.XML.SecondaryAge }}d</td>
              <td>{{ .Brew.XML.SecondaryTemp }}°C</td>
            </tr>
            <tr>
              <th>Tertiary</th>
              <td>{{ .Brew.XML.TertiaryAge }}d</td>
              <td>{{ .Brew.XML.TertiaryTemp }}°C</td>
            </tr>
          </tbody>
        </table>
        <h2 class="subtitle">Parameters</h2>
        <form action="/brew/{{ .Brew.Id }}/save-fermentation" method="post">
          {{ .CSRF }}
          <div class="field is-horizontal">
            <div class="field-body">
              <div class="field">
                <label class="label" for="est-og"><abbr title="Estimated">Est.</abbr> OG</label>
                <div class="control">
                  <input class="input" type="number" id="est-of" name="est-og"
                    value="{{ .Brew.XML.EstOG }}" disabled>
                </div>
              </div>
              <div class="field">
                <label class="label" for="est-color"><abbr title="Estimated">Est.</abbr> color (SRM)</label>
                <div class="control">
                  <input class="input" type="number" id="est-color" name="est-color"
                    value="{{ .Brew.XML.EstColor }}" disabled>
                </div>
              </div>
            </div>
          </div>

          <div class="field">
            <label class="label" for="og">OG</label>
            <div class="control">
              <input class="input" type="number" step="0.001" id="og" name="og"
                value="{{ .Brew.XML.OG }}">
            </div>
          </div>

          <div class="field">
            <div class="control">
              <button class="button is-link" id="button">Save</button>
            </div>
          </div>
        </form>
      </div>
      <div class="column">
        <h2 class="subtitle">Yeasts</h2>
        <table class="table is-hoverable is-fullwidth">
          <thead>
            <tr>
              <th>Name</th>
              <th>Form</th>
              <th>Amount</th>
            </tr>
          </thead>
          <tbody>
{{ range .Brew.XML.Yeasts }}
            <tr>
              <td>{{ .Name }}</td>
              <td>{{ .Form }}</td>
              <td>{{ .Amount }}{{ if .AmountIsWeight }}kg{{ else }}l{{ end }}</td>
            </tr>
{{ end }}
          </tbody>
        </table>

{{ if .Extra }}
        <h2 class="subtitle">Extra ingredients</h2>
        <table class="table is-hoverable is-fullwidth">
          <thead>
            <tr>
              <th></th>
              <th>Name</th>
              <th>Use</th>
              <th>Amount</th>
              <th>Time</th>
            </tr>
          </thead>
          <tbody>
{{ range .Brew.XML.Hops }}
{{ if eq .Use "Dry hop" }}
            <tr>
              <td><abbr title="Hop">H</abbr></td>
              <td>{{ .Name }}</td>
              <td>Dry hop</td>
              <td>{{ .Amount }}kg</td>
              <td>{{ .Time }}m</td>
            </tr>
{{ end }}
{{ end }}
{{ range .Brew.XML.Miscs }}
{{ if or (eq .Use "Primary") (eq .Use "Secondary") }}
            <tr>
              <td><abbr title="Misc">M</abbr></td>
              <td>{{ .Name }}</td>
              <td>{{ .Use }}</td>
              <td>{{ .Amount }}{{ if .AmountIsWeight }}kg{{ else }}l{{ end }}</td>
              <td>{{ .Time }}m</td>
            </tr>
{{ end }}
{{ end }}
          </tbody>
        </table>
{{ end }}
      </div>
    </div>
  </div>

{{ else if eq .Brew.Step 4 }}
{{/* Bottling */}}

  <div class="container">
    <div class="columns">
      <div class="column">
        <form action="/brew/{{ .Brew.Id }}/save-bottling" method="post">
          {{ .CSRF }}
          <div class="field is-horizontal">
            <div class="field-body">
              <div class="field">
                <label class="label" for="age">Age (d)</label>
                <div class="control">
                  <input class="input" type="number" id="age" name="age"
                    value="{{ .Brew.XML.Age }}" disabled>
                </div>
              </div>
              <div class="field">
                <label class="label" for="age">Age temp. (°C)</label>
                <div class="control">
                  <input class="input" type="number" id="age" name="age"
                    value="{{ .Brew.XML.AgeTemp }}" disabled>
                </div>
              </div>
            </div>
          </div>
          <div class="field is-horizontal">
            <div class="field-body">
              <div class="field">
                <label class="label" for="fg">FG</label>
                <div class="control">
                  <input class="input" type="number" step="0.001" id="fg" name="fg"
                    value="{{ .Brew.XML.FG }}">
                </div>
              </div>
            </div>
          </div>
          <div class="field is-horizontal">
            <div class="field-body">
              <div class="field">
                <div class="control">
                  <button class="button is-link" id="button">Save</button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="column">
        <h2 class="subtitle">Ingredients</h2>
        <table class="table is-hoverable is-fullwidth">
          <thead>
            <tr>
              <th>Name</th>
              <th>Amount</th>
              <th>Time</th>
            </tr>
          </thead>
          <tbody>
{{ range .Brew.XML.Miscs }}
{{ if eq .Use "Bottling" }}
            <tr>
              <td>{{ .Name }}</td>
              <td>{{ .Amount }}{{ if .AmountIsWeight }}kg{{ else }}l{{ end }}</td>
              <td>{{ .Time }}m</td>
            </tr>
{{ end }}
{{ end }}
          </tbody>
        </table>
      </div>
    </div>
  </div>

{{ else if eq .Brew.Step 5 }}
{{/* Done */}}

  <div class="container">
    <div class="columns">
      <div class="column">
        <form action="/brew/{{ .Brew.Id }}/save-done" method="post">
          {{ .CSRF }}

          <div class="field">
            <label class="label" for="taste-notes">Taste notes</label>
            <div class="control">
              <textarea class="textarea" id="taste-notes" name="taste-notes">{{ .Brew.XML.TasteNotes }}</textarea>
            </div>
          </div>

          <div class="field">
            <div class="control">
              <button class="button is-link" id="button">Save</button>
            </div>
          </div>
        </form>
      </div>
      <div class="column">
        <h2 class="subtitle">Parameters</h2>
        <strong>Real ABV</strong>: {{ .Brew.XML.ABV }}°
        <br />
        <strong>Est. ABV</strong>: {{ .Calc.Cursors.ABV.Val }}°
        <br />
        <strong>IBU</strong>: {{ .Calc.Cursors.IBU.Val }}
      </div>
    </div>
  </div>

{{ end }}

</section>

<section class="section">
  <div class="container">
    <form action="/brew/{{ .Brew.Id }}/save-notes" method="post">
      {{ .CSRF }}
      <div class="field">
        <label class="label" for="notes">Notes</label>
        <div class="control">
          <textarea class="textarea" id="notes" name="notes">{{ .Brew.XML.Notes }}</textarea>
        </div>
      </div>
      <div class="field">
        <div class="control">
          <button class="button is-link" id="button">Save</button>
        </div>
      </div>
    </form>
  </div>

</section>

<section class="section">
  <div class="container is-centered">
    <div class="columns is-mobile is-centered">
      <div class="column is-narrow">
        <button class="button is-light" form="form-steps" formaction="/brew/{{ .Brew.Id }}/prev"
          {{ if eq .Brew.Step 0 }}disabled{{ end }}>
          <span class="icon"><i class="fas fa-backward"></i></span>
        </button>
        <button class="button is-light" form="form-steps" formaction="/brew/{{ .Brew.Id }}/next"
          {{ if eq .Brew.Step .MaxStep }}disabled{{ end }}>
          <span class="icon"><i class="fas fa-forward"></i></span>
        </button>
      </div>
    </div>
  </div>
</section>

</form>

{{ template "foot.html" }}
