{{ template "head.html" . }}

{{ template "navigation.html" }}

<form method="post" id="form-actions">{{ .CSRF }}</form>

<section class="section" id="recipe">
  <div class="container">
    <form action="/recipe/{{ .Recipe.Id }}/save" method="post" autocomplete="off">
      {{ .CSRF }}

      <div class="columns">
        <div class="column is-two-thirds">
          <div class="field is-horizontal">
            <div class="field-body">
              <div class="field">
                <input class="input" type="text" name="name" placeholder="Name" value="{{ .Recipe.Name }}">
              </div>
              <div class="field">
                <input class="input" type="number" name="version" placeholder="Version" value="{{ .Recipe.XML.Version }}">
              </div>
              <div class="field">
                <div class="select is-fullwidth">
                  <select name="type">
                    <option value="All grain" {{ if eq .Recipe.XML.Type "All grain" }}selected{{ end }}>
                      All grain
                    </option>
                    <option value="Extract" {{ if eq .Recipe.XML.Type "Extract" }}selected{{ end }}>
                      Extract
                    </option>
                    <option value="Partial mash" {{ if eq .Recipe.XML.Type "Partial mash" }}selected{{ end }}>
                      Partial Mash
                    </option>
                  </select>
                </div>
              </div>
              <div class="field">
                <div class="select is-fullwidth">
                  <select name="public">
                    <option value="false" {{ if not .Recipe.Public }}selected{{ end }}>Private</option>
                    <option value="true" {{ if .Recipe.Public }}selected{{ end }}>Public</option>
                  </select>
                </div>
              </div>
            </div>
          </div>

          <div class="field is-horizontal">
            <div class="field-body">
              <div class="field">
                <label class="label" for="notes">Notes</label>
                <div class="control">
                  <textarea class="textarea" id="notes" name="notes">{{ .Recipe.XML.Notes }}</textarea>
                </div>
              </div>
            </div>
          </div>

          <div class="field is-horizontal">
            <div class="field-body">
              <div class="field">
                <label class="label" for="batch-size">Batch size (l)</label>
                <div class="control">
                  <input class="input" type="number" step="0.1" id="batch-size" name="batch-size" value="{{ .Recipe.XML.BatchSize }}">
                </div>
              </div>
              <div class="field">
                <label class="label" for="boil-time">Boil time (m)</label>
                <div class="control">
                  <input class="input" type="number" id="boil-time" name="boil-time" value="{{ .Recipe.XML.BoilTime }}">
                </div>
              </div>
              <div class="field">
                <label class="label" for="efficiency">Efficiency (%)</label>
                <div class="control">
                  <input class="input" type="number" id="efficiency" name="efficiency" value="{{ .Recipe.XML.Efficiency }}">
                </div>
              </div>
              <div class="field">
                <label class="label" for="boil-size">Boil size (l)</label>
                <div class="control">
                  <input class="input" type="text" value="{{ .Calc.BoilSize }}" disabled>
                </div>
              </div>
            </div>
          </div>

          <div class="field is-horizontal">
            <div class="field-body">
              <div class="field">
                <div class="control">
                  <button class="button is-primary">
                    {{ L "Save changes" }}
                  </button>
                  <a class="button is-info" href="/recipe/clone/{{ .Recipe.Id }}">
                    {{ L "Clone" }}
                  </a>
                  <a class="button is-danger" onclick="showModal('delete');">
                    {{ L "Delete recipe" }}
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="column">
          <div class="field is-horizontal">
            <div class="field-body">
              <div class="field">
                <input class="input" type="text" name="style" list="style"
                  placeholder="Beer style" value="{{ .Recipe.XML.Style.Name }}">
                <datalist id="style">
{{ range .Styles }}
                  <option value="{{ .Name }}">{{ .Name }}</option>
{{ end }}
                </datalist>
              </div>
            </div>
          </div>

          <br />

{{ range .Calc.Cursors }}
          <div class="columns">
            <div class="column"><strong>{{ .Name }}</strong>:
{{ if ne .RGB "" }}
              <span style="color: {{ .RGB }};">⬛</span>
{{ end }}
              {{ .Val }} ({{ .Min }}-{{ .Max }})
            </div>
            <div class="column">
              <div class="slider">
                <div class="slider-cursor" style="margin-left: {{ .Cursor }}%;"></div>
                <div class="slider-bar"
                  style="background-color: {{ if .ValOK }}lightgreen{{ else }}orange{{ end }};">
                </div>
              </div>
            </div>
          </div>
{{ end }}
        </div>
      </div>

      <br />

      <h2 class="subtitle">Ingredients:</h2>
      <a class="button is-light" onclick="showFermentable('/recipe/{{ .Recipe.Id }}');">
        Add fermentable
      </a>
      <a class="button is-light" onclick="showHop('/recipe/{{ .Recipe.Id }}');">
        Add hop
      </a>
      <a class="button is-light" onclick="showYeast('/recipe/{{ .Recipe.Id }}');">
        Add yeast
      </a>
      <table class="table is-hoverable is-fullwidth">
        <thead>
          <tr>
            <th></th>
            <th>Name</th>
            <th>Type / Form</th>
            <th>Amount</th>
            <th>Time</th>
            <th>SRM / % / <abbr title="Attenuation">Att.</abbr></th>
            <th class="has-text-right-desktop">Actions</th>
          </tr>
        </thead>
        <tbody>
{{ if .Recipe.XML.Fermentables }}
{{ range $k, $v := .Recipe.XML.Fermentables }}
          <tr id="fermentable-{{ $k }}" data-id="{{ $k }}" data-name="{{ $v.Name }}" data-type="{{ $v.Type }}"
              data-amount="{{ $v.Amount }}" data-yield="{{ $v.Yield }}" data-color="{{ $v.Color }}">
            <td><abbr title="Fermentable">F</abbr></td>
            <td>{{ $v.Name }}</td>
            <td>{{ $v.Type }}</td>
            <td>{{ $v.Amount }}kg</td>
            <td>-</td>
            <td>{{ $v.Color }}</td>
            <td class="has-text-right-desktop">
              <a class="button is-small" title="Edit" onclick="editFermentable('/recipe/{{ $.Recipe.Id }}' ,'#fermentable-{{ $k }}')">
                <span class="icon is-small"><i class="fas fa-edit"></i></span>
              </a>
              <button class="button is-small" title="Delete"
                  form="form-actions" formaction="/recipe/{{ $.Recipe.Id }}/del-fermentable/{{ $k }}">
                <span class="icon is-small"><i class="fas fa-trash"></i></span>
              </button>
            </td>
          </tr>
{{ end }}
{{ end }}

{{ if .Recipe.XML.Hops }}
{{ range $k, $v := .Recipe.XML.Hops }}
          <tr id="hop-{{ $k }}" data-id="{{ $k }}" data-name="{{ $v.Name }}" data-form="{{ $v.Form }}"
              data-amount="{{ $v.Amount }}" data-use="{{ $v.Use }}" data-time="{{ $v.Time }}"
              data-alpha="{{ $v.Alpha }}">
            <td><abbr title="Hop">H</abbr></td>
            <td>{{ $v.Name }}</td>
            <td>{{ $v.Form }}</td>
            <td>{{ $v.Amount }}kg</td>
            <td>{{ $v.Use }} - {{ $v.Time }}m</td>
            <td>{{ $v.Alpha }}</td>
            <td class="has-text-right-desktop">
              <a class="button is-small" title="Edit" onclick="editHop('/recipe/{{ $.Recipe.Id }}', '#hop-{{ $k }}')">
                <span class="icon is-small"><i class="fas fa-edit"></i></span>
              </a>
              <button class="button is-small" title="Delete"
                  form="form-actions" formaction="/recipe/{{ $.Recipe.Id }}/del-hop/{{ $k }}">
                <span class="icon is-small"><i class="fas fa-trash"></i></span>
              </button>
            </td>
          </tr>
{{ end }}
{{ end }}

{{ if .Recipe.XML.Yeasts }}
{{ range $k, $v := .Recipe.XML.Yeasts }}
          <tr id="yeast-{{ $k }}" data-id="{{ $k }}" data-name="{{ $v.Name }}" data-form="{{ $v.Form }}"
              data-amount="{{ $v.Amount }}" data-amount-is-weight="{{ $v.AmountIsWeight }}"
              data-attenuation="{{ $v.Attenuation }}">
            <td><abbr title="Yeast">Y</abbr></td>
            <td>{{ $v.Name }}</td>
            <td>{{ $v.Form }}</td>
            <td>{{ $v.Amount }}{{ if $v.AmountIsWeight }}kg{{ else }}l{{ end }}</td>
            <td>-</td>
            <td>{{ $v.Attenuation }}</td>
            <td class="has-text-right-desktop">
              <a class="button is-small" title="Edit" onclick="editYeast('/recipe/{{ $.Recipe.Id }}', '#yeast-{{ $k }}')">
                <span class="icon is-small"><i class="fas fa-edit"></i></span>
              </a>
              <button class="button is-small" title="Delete"
                  form="form-actions" formaction="/recipe/{{ $.Recipe.Id }}/del-yeast/{{ $k }}">
                <span class="icon is-small"><i class="fas fa-trash"></i></span>
              </button>
            </td>
          </tr>
{{ end }}
{{ end }}
        </tbody>
      </table>

      <h2 class="subtitle">Mash steps:</h2>
      <a class="button is-light" onclick="showMashStep();">
        Add step
      </a>
      <table class="table is-hoverable is-fullwidth">
        <thead>
          <tr>
            <th>Name</th>
            <th>Type</th>
            <th>Temperature</th>
            <th>Time</th>
            <th class="has-text-right-desktop">Actions</th>
          </tr>
        </thead>
        <tbody>
{{ if .Recipe.XML.Mash }}
{{ if .Recipe.XML.Mash.MashSteps }}
{{ range $k, $v := .Recipe.XML.Mash.MashSteps }}
          <tr id="mash-step-{{ $k }}" data-id="{{ $k }}" data-name="{{ $v.Name }}" data-type="{{ $v.Type }}"
              data-temp="{{ $v.StepTemp }}" data-time="{{ $v.StepTime }}">
            <td>{{ $v.Name }}</td>
            <td>{{ $v.Type }}</td>
            <td>{{ $v.StepTemp }}°C</td>
            <td>{{ $v.StepTime }}m</td>
            <td class="has-text-right-desktop">
              <a class="button is-small" title="Edit" onclick="editMashStep('#mash-step-{{ $k }}')">
                <span class="icon is-small"><i class="fas fa-edit"></i></span>
              </a>
              <button class="button is-small" title="Delete"
                  form="form-actions" formaction="/recipe/{{ $.Recipe.Id }}/del-mash-step/{{ $k }}">
                <span class="icon is-small"><i class="fas fa-trash"></i></span>
              </button>
            </td>
          </tr>
{{ end }}
{{ end }}
{{ end }}
        </tbody>
      </table>
    </form>
  </div>
</section>

<div class="modal" id="modal-delete">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Delete recipe?</p>
      <button class="delete" aria-label="close" onclick="hideModal('delete');">
      </button>
    </header>
    <section class="modal-card-body">
      <p>
        All the data associated to the recipe
        "<strong>{{ .Recipe.Name }}</strong>" will be deleted.
      </p><br />
      <form action="/recipe/{{ .Recipe.Id }}/delete" method="post">
        {{ .CSRF }}
        <button class="button is-danger">Yes, delete</button>
        <a class="button is-light" onclick="hideModal('delete');">
          No, keep
        </a>
      </form>
    </section>
  </div>
</div>

{{ template "ingredient-modals.html" . }}

<div class="modal" id="modal-mash-step">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title" id="title"></p>
      <button class="delete" aria-label="close" onclick="hideModal('mash-step');">
      </button>
    </header>
    <section class="modal-card-body">
      <form method="post" autocomplete="off">
        {{ .CSRF }}
        <div class="field is-horizontal">
          <div class="field-body">
            <div class="field">
              <label class="label" for="name">Name</label>
              <div class="control">
                <input class="input" type="text" id="name" name="name">
              </div>
            </div>
            <div class="field">
              <label class="label">Type</label>
              <div class="control">
                <div class="select is-fullwidth">
                  <select name="type" id="type">
                    <option value="Temperature">Temperature</option>
                    <!--<option value="Infusion">Infusion</option>-->
                    <option value="Decoction">Decoction</option>
                  </select>
                </div>
              </div>
            </div>
            <!--
            <div class="field">
              <label class="label" for="infusion_amount">Infuse amount</label>
              <div class="control">
                <input class="input" type="number" id="infuse_amount" name="infuse_amount">
              </div>
            </div>
            -->
          </div>
        </div>
        <div class="field is-horizontal">
          <div class="field-body">
            <div class="field">
              <label class="label" for="temperature">Temperature (°C)</label>
              <div class="control">
                <input class="input" type="number" id="temperature" name="temperature">
              </div>
            </div>
            <div class="field">
              <label class="label" for="time">Time (m)</label>
              <div class="control">
                <input class="input" type="number" id="time" name="time">
              </div>
            </div>
          </div>
        </div>
        <div class="field">
          <div class="control">
            <button class="button is-link" id="button"></button>
          </div>
        </div>
      </form>
    </section>
  </div>
</div>

<script>
  function showMashStep() {
    configureModal("mash-step", "{{ L "Add mash step" }}", "{{ L "Add" }}",
                   "/recipe/{{ .Recipe.Id }}/add-mash-step");
    showModal("mash-step");
  }

  function editMashStep(id) {
    configureModal("mash-step", "{{ L "Edit mash step" }}", "{{ L "Save" }}",
                   "/recipe/{{ .Recipe.Id }}/edit-mash-step/" + $(id).data("id"));
    showModal('mash-step');

    $("#modal-mash-step #name").val($(id).data("name"));
    $("#modal-mash-step #type").val($(id).data("type"));
    $("#modal-mash-step #temperature").val($(id).data("temp"));
    $("#modal-mash-step #time").val($(id).data("time"));
  }
</script>

{{ template "foot.html" }}
